/*
 * ============================================
 * ARCHIVO GLOBAL DE ESTILOS
 * ============================================
 */

/* --- Ajustes Suaves de Scroll --- */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--space-l, 2rem); 
}

/* --- Estilos Base del Body --- */
body {  
  font-family: var(--font-family-body);
  font-size: var(--fs-0);
  line-height: var(--line-height-body);
  color: var(--color-text-primary); 
  background-color: var(--color-background);
}

/* --- Tipografía--- */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
  
  margin-top: var(--space-xs);
  margin-bottom: var(--space-s);
}

/* Tamaños de fuente fluidos específicos */
h1 {
  font-size: var(--fs-3);
  color: var(--color-primary);
}

h2 {
  font-size: var(--fs-2);
   color: var(--color-primary);
}

h3 {
  font-size: var(--fs-1);
   color: var(--color-subtitle);
   font-weight: var(--font-weight-medium);
}

p {
  margin-bottom: var(--space-s);
}

p:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child {
  margin-bottom: 0;
}

/* --- Enlaces (Links) --- */

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  transition: var(--transition-fast);
}

a:hover {
  text-decoration: none; 
}

/* estilos de Foco para Accesibilidad. */
a:focus-visible {
  outline: 2px solid var(--color-primario, #0077ff);
  outline-offset: 2px;
  border-radius: var(--border-radius-small);
}

ul, ol {
  padding-left: var(--space-l); 
}

li {
  /* margin-bottom: var(--space-xs); */
}

/*---LAYOUT PRINCIPAL---*/

.grid-layout {
  display: grid;
  grid-template-columns: 
    [full-start] minmax(var(--page-gutter-min), 1fr) 
    [content-start] minmax(0, var(--content-max-width)) [content-end] 
    minmax(var(--page-gutter-min), 1fr) [full-end]; 

    row-gap:var(--space-section);
}

.grid-layout > * {
  grid-column: content;
}

.grid-layout > .full-bleed {
  grid-column: full;
}

/* 4. El contenido interno del full-bleed */
.full-bleed .inner-content {
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: var(--page-gutter-min);
}
