/*
 * ============================================
 * ARCHIVO DE VARIABLES GLOBALES
 * ============================================
 * Las medidas en 'rem' están basadas en 1rem = 16px.
 * ============================================
 */

:root {
  /* --- Fuentes (Tipografía) --- */
  --font-family-body: "Lato", sans-serif;
  --font-family-heading: "Montserrat", sans-serif; 

  /* pesos de fuente */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*alturas de línea */
  --line-height-body: 1.65; 
  --line-height-heading: 1.2; 

  /*Define colores base*/
  --color-primary: #02277f; /*h1 y botones comunes*/
  --color-secondary: #dc251f; /*Botones cta*/
  --color-background: #F1F3F6; /* Fondo principal y para card*/
  --color-text-primary: #4B5563;
  --color-text-secondary: #6B7280;
  --color-subtitle: #1A2B4D;
  --color-light: #FFFFFF;
  --color-span: #b21b52; 

  --custom-shadow: 
    8px 8px 16px #d1d9e6, 
    -8px -8px 16px #ffffff;

   
  /* ---Escala de Fuente Fluida--- */
/* Viewport (Ancho de pantalla) de referencia:
    Mínimo: 370px
    Máximo: 1400px
    Base: 1rem = 16px
  */

  /** Texto Muy Pequeño (14px -> 16px) */
  --fs--1: clamp(0.875rem, calc(0.830rem + 0.194vw), 1rem);

  /** Texto Base (16px -> 18px) */
  --fs-0: clamp(1rem, calc(0.955rem + 0.194vw), 1.125rem);

  /** Mediano H3 (20px -> 24px) */
  --fs-1: clamp(1.25rem, calc(1.160rem + 0.388vw), 1.5rem);

  /** Subtítulo H2 (24px -> 32px) */
  --fs-2: clamp(1.5rem, calc(1.320rem + 0.777vw), 2rem);

  /** Título H1 (32px -> 48px) */
  --fs-3: clamp(2rem, calc(1.641rem + 1.553vw), 3rem);
  
  /** Texto Muy Grande (Display) (40px -> 72px) */
  --fs-4: clamp(2.5rem, calc(1.781rem + 3.107vw), 4.5rem);


  /* ---Escala de Espaciado Fluido (Spacing Scale) --- */


  /* x-small (0.5rem -> 0.75rem) */
  --space-xs: clamp(0.5rem, 0.58vw + 0.38rem, 0.75rem);

  /* small (0.75rem -> 1rem) */
  --space-s: clamp(0.75rem, 0.58vw + 0.63rem, 1rem);

  /* medium (1rem -> 1.5rem) */
  --space-m: clamp(1rem, 1.16vw + 0.76rem, 1.5rem);

  /* large (1.5rem -> 2rem) */
  --space-l: clamp(1.5rem, 1.16vw + 1.26rem, 2rem);

  /* x-large (2rem -> 3rem) */
  --space-xl: clamp(2rem, 2.32vw + 1.52rem, 3rem);

  /* 2x-large (3rem -> 4rem) */
  --space-xxl: clamp(3rem, 2.32vw + 2.52rem, 4rem);

  /* (Opcional) Espaciado de sección (4rem -> 8rem) */
  --space-section: clamp(4rem, 9.28vw + 2.08rem, 8rem);

  /* ---Maquetación (Layout) --- */

  /* Ancho máximo de la columna de contenido */
  --content-max-width: 1200px;

  /* Márgenes laterales (gutter) mínimos en móvil */
  --page-gutter-min: var(--space-m, 1rem); /* 1rem o 1.5rem suele ser bueno */

  /* ---Misceláneos --- */

  /* Transiciones */
  --transition-fast: all 0.2s ease-out;
  --transition-medium: all 0.3s ease-out;
}
