---
const { text, url, class_name, custom_button, arial_label } = Astro.props;
---

<a class:list={["button-a", class_name, custom_button]} href={url} aria-label={arial_label}>{text}</a>

<style is:global>
  .button-a {
    width: 190px;
    padding: 8px 22px;
    cursor: pointer;
    text-decoration: none;
    /* display: inline-block; */
    text-align: center;
    border-radius: 40px;
    background: #f1f3f6;
    box-shadow:
      5px 5px 10px #a6a8aa,
      -5px -5px 10px #ffffff;
    color: var(--color-primary);
  }

  .button-a:hover {
    color: var(--color-primary);
    background-color: var(--color-primary);
    border-radius: 40px;
    background: #f1f3f6;
    box-shadow:
      inset 5px 5px 10px #a6a8aa,
      inset -5px -5px 10px #ffffff;
  }

  .button-a:active {
    background-color: var(--color-background);
    box-shadow:
      inset 5px 5px 10px #a6a8aa,
      inset -5px -5px 10px #ffffff;
    color: var(--color-primary);
  }

  .button-a:focus-visible {
    outline: 3px solid #02277f;
    outline-offset: 3px;
    border-color: transparent;
    border-radius: 40px;
    color: var(--color-primary);
  }

  .btn-cta {
    color: #fff;
    background-color: var(--color-secondary);
  }

  .btn-cta:hover {
    color: #fff;
    background-color: var(--color-secondary);
    box-shadow:
      inset 7px 7px 10px #b01e19,
      inset -7px -7px 10px #ff2c25;
  }

  .btn-cta:focus-visible {
    outline: 3px solid var(--color-secondary);
    outline-offset: 3px;
    border-color: transparent;
  }

  .button-left {
    margin-right: auto;
  }
</style>
