---
const { text, url, class_name, custom_button } = Astro.props;
---

<a class:list={["button-a", class_name, custom_button]} href={url}>{text}</a>

<style is:global>
  .button-a {
    width: 190px;
    padding: 8px 22px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: var(--font-weight-medium);
    color: var(--color-trust-blue);
    border-style: solid;
    padding: 10px 20px 10px 22px;
    border-width: 2px 2px 2px 2px;
    border-radius: 40px 40px 40px 40px;
    transition: all 0.3s ease-out;
    border-color: rgba(255, 255, 255, 0.333);
    box-shadow:
      -4px -4px 22px 0px #ffffff,
      3px 1px 6px 0px rgb(31 137 229 / 48%);
  }

  .button-a:hover {
    color: #fff;
    background-color: var(--color-trust-blue);
    border: 2px solid rgba(255, 255, 255, 0.333);
    box-shadow:
      -2px -1px 8px 0px #ffffff,
      2px 1px 8px 0px rgb(31 137 229 / 48%);
    transform: translateY(-2px);
  }

  .button-a:active {
    background-color: #2097ff;
    border-color: #2097ff;
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(87, 159, 231, 0.2);
  }

  .button-a:focus-visible {
    outline: 3px solid #2097ff;
    outline-offset: 3px;
    border-color: transparent;
  }

  .btn-cta {
    color: #fff;
    background-color: var(--color-cta);
    border-color: rgba(179, 28, 83, 0.333);
    box-shadow:
      -4px -4px 22px 0px #bcbbbb14,
      4px 1px 10px 2px rgba(28, 28, 28, 0.398);
  }

  .btn-cta:hover {
    color: #fff;
    background-color: #ea0a0a;
    border-color: rgba(179, 28, 83, 0.333);
  }

  .button-left {
    margin-right: auto;
  }
</style>
