---
---

<section class="grid-layout">
    <div class="full-bleed">
        <img src="/img/bannerHome.jpg" alt="" class="banner-img">
        <div class="inner-content banner-content">
            <h1>
                Nuestro compromiso, tu éxito
            </h1>
            <h3>
                Nuestro compromiso, tu éxito
            </h3>
            <a href="" class="button-a">¡Descuber Keytron!</a>
        </div>
    </div>
</section>

<style>
    .banner-img {
        width: 100vw;
        height: 100dvh;
        object-fit: cover;
        object-position: center;
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    .banner-content {
        height: 100dvh;
        display: grid;
        align-content: center;
        position: relative;
        z-index: 2;
    }
</style>