---
const { title, subtitle, button } = Astro.props;
---

<section class="grid-layout">
  <div class="full-bleed">
    <img
      src="img/bannerHome.svg"
      alt={title || "Banner principal"}
      class="banner-img"
    />
    <div class="inner-content banner-content">
      <h1>{title}</h1>
      <h3>{subtitle}</h3>
      {
        button && (
          <a href="#main-content" class="button-a btn-cta">
            {button}
          </a>
        )
      }
    </div>
  </div>
</section>
<div id="main-content"></div>

<style>
  section.grid-layout {
    height: 100dvh;
    align-items: center;
  }

  .banner-img {
    width: 100vw;
    height: 100dvh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .banner-content {
    display: grid;
    align-content: center;
    position: relative;
    z-index: 2;
    background-color: #ffffff65;
    border-radius: 20px;
    padding: 20px;
    box-shadow:
      8px 8px 16px #cdc9c9,
      -8px -8px 16px #ffffff;
  }

  .btn-cta {
    margin-block-start: var(--space-s);
    width: 220px;
    z-index: 1;
    position: relative;
    overflow: hidden;
  }

  .btn-cta::before {
    content: "";
    width: 0;
    height: 3em;
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #d4d4d41f 0%, #fc0800 100%);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  .btn-cta:hover::before {
    height: 3em;
    width: 225px;
  }

  @media (min-width: 990px) {
    .banner-content {
      padding: 50px;
    }
  }
</style>
