---
const { img, description, subtitle, custom_img } = Astro.props;
---

<div class:list={[custom_img]}>
  {img && <img src={img} alt="" />}
  {subtitle && <h4>{subtitle}</h4>}
  {description && <p>{description}</p>}
</div>

<style>
  .mobile-hide img {
    height: 100%;
  }

  .mobile-hide {
    display: none;
  }

  @media (min-width: 990px) {
    .mobile-hide {
      display: block;
    }
  }
</style>
