---
import Image from "@components/Image.astro";
const { images, settings } = Astro.props;
---

<div class:list={["collection-img-default", settings?.custom_container_img]}>
  {
    images.map((imgItem) => {
      return <Image {...imgItem} />;
    })
  }
</div>

<style>
  .collection-img-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: var(--space-l);
    row-gap: var(--space-xxl);
    align-items: baseline;
    align-content: center;
  }

  :global(.collection-img-default div) {
    align-content: center;
    justify-items: center;
    flex: 0 0 150px;
    display: inline-grid;
    font-size: var(--fs--1);
  }

  :global(.soluciones-1col div) {
    flex: 0 0 250px;
  }

  :global(div.width-350) {
    flex: 0 0 250px;
  }

  :global(.contacto-enlaces a:visited, .contacto-enlaces a) {
    color: var(--color-primary);
  }

  :global(.contacto-enlaces a:hover) {
    text-decoration: underline;
  }

  :global(div.certificaciones-bold) {
    flex: 0 0 300px;
  }

  .alianzas-align-start {
    align-items: flex-start;
  }
  /*================================================ */

  @media (min-width: 600px) {
    :global(.collection-img-default div) {
      flex: 0 0 250px;
    }

    :global(div.width-350) {
      flex: 0 0 350px;
    }
  }

  /*==================================================*/

  @media (min-width: 990px) {
    :global(.collection-img-default div) {
      flex: 0 0 18.76rem;
    }

    .contacto-enlaces {
      align-items: flex-start;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: var(--space-l);
      padding-top: 3rem;
    }
  }
</style>
