---
import Image from "@components/Image.astro";
const { images, settings } = Astro.props;
---

<div
  class:list={[
    "collection-img-default",
    settings?.custom_container_img,
    settings?.special_class,
  ]}
>
  {
    images.map((imgItem) => {
      return <Image {...imgItem} />;
    })
  }
</div>

<style>
  .collection-img-default {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: var(--space-l);
    row-gap: var(--space-xxl);
    align-items: center;
  }

  :global(.collection-img-default div) {
    align-content: center;
    justify-items: center;
    flex: 0 0 150px;
    text-align: center;
  }

  :global(.servicios-grid-3col div){
    flex: 0 0 250px;
  }

  :global( div.ciberseguridad-grid-2col) {
    flex: 0 0 350px
  }

  :global(.contacto-enlaces a:visited, .contacto-enlaces a) {
    color: var(--color-primary);
  }

  :global(.contacto-enlaces a:hover) {
    text-decoration: underline;
  }
  /*================================================ */
  @media (min-width: 990px) {

    :global(.collection-img-default div) {
        flex: 0 0 18.76rem;
    }

    .servicios-grid-logos {
      justify-content: space-around;
      align-items: baseline;
    }

    :global(.servicios-grid-logos div, .servicios-grid-3col div) {
      font-size: var(--fs--1);
    }

    .contacto-enlaces {
      align-items: flex-start;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: var(--space-l);
      padding-top: 3rem;
    }
  }
</style>
