---

---

<div class="full-bleed iframe-container">
  <iframe
    class="full-bleed"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6065.110118238761!2d-3.658092888502839!3d40.52932464865968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422c8607477d35%3A0x51ec3b928f99a4fa!2sKeytron!5e0!3m2!1ses!2ses!4v1762510305771!5m2!1ses!2ses"
    width="370"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<style>
  :global(main.grid-layout) {
    padding-bottom: 0;
  }

  iframe {
    width: 100vw;
    max-width: 100vw;
  }

  .iframe-container {
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    height: 450px;
  }

  .iframe-container::before,
  .iframe-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    pointer-events: none;
  }

  .iframe-container::before {
    left: 0;
    background: linear-gradient(
      to right,
      rgb(86 85 85 / 9%) 0%,
      rgb(255 255 255 / 1%) 100%
    );
  }

  .iframe-container::after {
    right: 0;
    background: linear-gradient(
      to left,
      rgb(86 85 85 / 9%) 0%,
      rgb(255 255 255 / 1%) 100%
    );
  }

  @media (min-width: 990px) {
    .iframe-container::before,
    .iframe-container::after {
      width: 150px;
    }

    .iframe-container::before {
      left: 0;
      background: linear-gradient(
        to right,
        rgb(58 58 58 / 18%) 0%,
        rgb(255 255 255 / 1%) 100%
      );
    }

    .iframe-container::after {
      right: 0;
      background: linear-gradient(
        to left,
        rgb(58 58 58 / 18%) 0%,
        rgb(255 255 255 / 1%) 100%
      );
    }
  }
</style>
