---
import Cards from "@components/Cards.astro";
import Images from "@components/Images.astro";

const { card_data, image_data } = Astro.props;
const { settings } = Astro.props;
const fullBleed = settings?.layout_class === "full-bleed";
---

<div class:list={[fullBleed && "inner-content", settings?.grid_section]}>
  {card_data && <Cards cards={card_data} settings={settings} />}
  {image_data && <Images images={image_data} settings={settings} />}
</div>

<style>
  .grid-col-left,
  .grid-col-right,
  .g2-row {
    display: grid;
  }

  .g2-row {
    grid-template-rows: auto 1fr;
    row-gap: var(--space-section);
  }

  @media (min-width: 990px) {
    .grid-col-left,
    .grid-col-right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }

    :global(.grid-col-right .article-default) {
      order: 1;
    }

    :global(.grid-col-left .card-default, .grid-col-right .card-default) {
      width: auto;
    }
  }
</style>
